.example-list {
  min-height: 100%;
  height: min-content !important;
  /* height: 75px !important; */
  background: white;
  border-radius: 4px;
}

.headers {
  position: relative;
  cursor: default !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #fff !important;
}

.example-box {
  // width: 150px;
  // border-radius: 10px;
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  min-height: 75px !important;
}

.example-box-border {
  border: 1px solid #ccc;
}

::ng-deep .cdk-drop-list-dragging {
  margin: 0 !important;
  padding: 0 !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box-content {
  position: relative;
}

.example-box-content .date-content {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 5px;
  font-size: 10px;
  color: #ff5500;
}

div {
  font-family: Lato;
}

.board {
  width: 700px;
  border: 1px solid saddlebrown;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
}

.lane {
  border: 1px solid black;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.task {
  padding: 0.75em 1.5em 0.75em 1em;
  margin-bottom: 0.5em;
  background: #cfcfcf;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "Roboto Slab", sans-serif;
}

.task:hover {
  outline: 3px solid #205081;
}

.heading {
  padding: 1em 0;
  font-weight: bolder;
  background: #ffffff;
  color: #000000;
  border-bottom: 0.5em solid #ffffff;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
}

.todo {
  background: #3572b0;
}

.doing {
  background: #f6c342;
}

.done {
  background: #14892c;
}

.list-day {
  height: 65px !important;
} 

.list-day:not(:first-child) {
  background-color: #4643D2;
}

.list-day:not(:first-child),
.list-day:not(:last-child) {
  border-right: 2px solid #ccc;
}

.list-day:first-child {
  border: none;
}

.list-day:last-child {
  border-top-right-radius: 10px
}

.list-day:nth-child(2) {
  border-top-left-radius: 10px
}

.list-day .calendar-con {
  border-top-left-radius: unset;
}

.list-day:nth-child(2) .calendar-con {
  border-top-left-radius: 9px
}

.item-date {
  font-size: 10px;
  color: red;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.item-cell {
  position: relative;
  font-size: 14px;
}

.calendar-con {
  background: #F37600;
  padding: 0 6px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 9px;
}

.clock-con {
  font-size: 13px;
  padding: 3px 7px;
  background-color: #4643D2;
}

.border-bottoms {
  border-bottom: 1px solid #dedede;
}

.clock-text {
  color: #ffffff;
  font-weight: 600;
  position: relative;
  background: #8989D3;
  border: 1px solid #4643D2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}