.example-list {
  // border: solid 1px #ccc;
  min-height: 60px;
  // display: flex;
  // flex-direction: row;
  background: white;
  border-radius: 4px;
  // overflow: hidden;
}

.headers {
  cursor: default !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #fff !important;
}

.example-box {
  // width: 150px;
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box-content {
  position: relative;
}

.example-box-content .date-content {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 5px;
  font-size: 10px;
  color: #ff5500;
}


div {
  font-family: Lato;
}

.board {
  width: 700px;
  border: 1px solid saddlebrown;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
}

.lane {
  border: 1px solid black;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.task {
  padding: 0.75em 1.5em 0.75em 1em;
  margin-bottom: 0.5em;
  background: #cfcfcf;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "Roboto Slab", sans-serif;
}
.task:hover {
  outline: 3px solid #205081;
}

.heading {
  padding: 1em 0;
  font-weight: bolder;
  background: #ffffff;
  color: #000000;
  border-bottom: 0.5em solid #ffffff;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
}

.todo {
  background: #3572b0;
}

.doing {
  background: #f6c342;
}

.done {
    background: #14892c;
}

.drag-dt{
  width: 100%;
}