::ng-deep.mat-dialog-container {
    padding: 0 !important;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 93vh;
    background-color: transparent;
    box-shadow: none;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-infix {
    padding: 0 !important;
    border: none;

}

::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    margin-top: 13px;
}

::ng-deep .mat-text-field--disabled {
    margin-top: 4px;
}

::ng-deep .select .mat-text-field--disabled.mat-text-field--filled {
    background-color: transparent !important;
}

::ng-deep .mat-text-field--filled:not(.mat-text-field--disabled) {
    background-color: transparent !important;
}

::ng-deep .mat-text-field--filled:not(.mat-text-field--disabled) .mat-line-ripple::before {
    border: none !important;
}

::ng-deep .mat-text-field--filled .mat-line-ripple::after {
    border: none !important;
}

::ng-deep .mat-form-field-focus-overlay {
    background-color: transparent !important;
}

::ng-deep .field .mat-text-field {
    padding: 0 !important;
}

::ng-deep .form-container .mat-form-field {
    width: 100% !important;
}

::ng-deep .mat-form-field-infix {
    display: flex !important;
}

::ng-deep .mat-calendar-body-selected {
    background-color: rgb(6, 143, 255) !important;
    color: #fff;
}

::ng-deep .mat-input-container.mat-input-focused:not([mat-no-float]) .mat-select-placeholder span:first-child {
    -webkit-transform: none;
    transform: none;
}


::ng-deep .placeholder {
    padding: 0 5px !important;
}

::ng-deep .mat-mdc-form-field-underline {
    display: none;
}

::ng-deep .mat-mdc-form-field-infix {
    padding: 0 !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    margin-top: 13px;
}

::ng-deep .select .mdc-text-field--disabled.mdc-text-field--filled {
    background-color: transparent !important;
}

::ng-deep .mdc-text-field--disabled {
    margin-top: 4px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border: none !important;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border: none !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
}

::ng-deep .field .mdc-text-field {
    padding: 0 !important;
}

::ng-deep .form-container .mat-mdc-form-field {
    width: 100% !important;
}

::ng-deep .mdc-tab-indicator__content--underline {
    border-color: var(--mdc-tab-indicator-active-indicator-color, transparent) !important;
}

::ng-deep .mat-mdc-tab.mdc-tab {
    height: 40px !important;
    flex-grow: 0;
    border-radius: 10px 10px 0px 0px;
    background: #EFEFEF;
    color: #000;
    gap: 5px !important;
    margin-right: 5px !important;
}

::ng-deep .mat-mdc-tab-body-wrapper {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

::ng-deep .mdc-tab--active {
    background: #009846 !important;
}

::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: #fff !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

::ng-deep .mdc-tab__text-label {
    font-weight: 400;
    color: #000 !important;
}

::ng-deep .mdc-notched-outline__trailing,
::ng-deep.mdc-text-field--outlined,
::ng-deep.mdc-notched-outline__notch,
::ng-deep.mdc-notched-outline__leading {
    border: none !important;
}

::ng-deep .mat-mdc-form-field-infix {
    padding: 0 !important;
}

::ng-deep .mat-mdc-paginator-page-size {
    margin-top: 15px;
}

::ng-deep .mat-menu-content {
    margin: 0;
    padding: 0 !important;
    list-style-type: none;
}

::ng-deep .mat-menu-panel {
    width: 100% !important;
}

::ng-deep .common-con .cdk-overlay-pane {
    width: 180px !important;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-checkmark {
    opacity: 0 !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-radius: 5px !important;
    width: 20px;
    height: 20px;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-frame {
    border-width: 6px !important;
    border-color: cornflowerblue !important;
    border-radius: 5px !important;
    background-color: #fff !important;

}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: transparent !important;
}

::ng-deep .mat-tooltip {
    background-color: red;
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
    width: auto !important;
}

.operation-btn {
    border: none;
    outline: none;
    border-radius: 10px;
    background: #009846;
    color: #fff;
    display: inline-flex;
    height: 42px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cancel {
    background-color: rgb(255, 205, 75) !important;
    border: none;
    outline: none;
    color: #fff;
}

.apply {
    background-color: rgb(6, 143, 255) !important;
    border: none;
    outline: none;
    color: #fff;
}

.header-name {
    outline: none;
    border: none;
    border-bottom: 1px solid #9c9c9c;
    width: 100%;
    padding: 7px;
    padding-left: 37px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.works li span {
    color: #F37600;
}

.works li {
    font-size: 15px;
    margin: 3px 0;
    color: #000;
}

.header-name-con {
    width: 100%;
}

.header-name::placeholder {
    font-size: 15px;
    color: #e2e2e28e;
}

.header-name-con span {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 9;
    background: transparent;
    width: 33px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.header-name-con i {
    color: #fff;
}

.header-con,
.header-name-con input {
    background-color: #6a67fc;
    position: relative;
}

.close {
    width: 15px;
}

.close-btn {
    background: transparent;
    padding: 0px 6px 0 12px;
    width: 42px;
    font-size: 23px;
    color: #fff;
    height: 100%;
    text-align: eft;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #F37600;
}

.delete-btn {
    color: red;
    font-size: 17px !important;
    position: absolute;
    right: 14px;
    top: 7px;
}

.check-btn {
    position: absolute;
    left: 0px;
    top: 0px;
    // background: #c5c5c5;
    // border: 1px solid cornflowerblue;
    width: 35px;
    text-align: center;
    height: -webkit-fill-available;
    border-top-left-radius: 5px;
    border-radius: 5px;
}

.checklist input {
    padding: 0 38px;
}

.operation-headers {
    font-size: 14px;
    color: #000;
}

.selectfileInputPay {
    position: absolute !important;
    width: 92% !important;
    opacity: 0;
}

.doc-file i {
    position: absolute;
    left: 3px;
    top: 0px;
    color: #5252a6;
}

.doc-file .file {
    padding: 0 0 0 30px;
    cursor: pointer;
    background-color: transparent !important;
    height: 20px !important;
    border: none !important;
    color: #5252a6;
}

.delete-file-btn {
    font-size: 19px;
    color: red;
    margin-top: -3px;
    font-size: 17px !important;
}

.workPrice {
    font-size: 14px;
    color: darkorange;
}

.old-expense {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 0 8px;
    height: 40px;
    color: #222;
    font-size: 15px;
}

.expense-date {
    font-size: 14px;
    color: darkorange;
}

.old-expense-item {
    transition: 0.6s;
    display: none;
}

.conditionalOpen {
    height: min-content;
    width: 100%;
    display: inline-block;
    animation: conditionalOpen 0.4s normal forwards ease-in-out;
    transform-origin: 50% 0%;
}

.conditionalClose {
    height: auto;
    width: 100%;
    display: inline-block;
    animation: conditionalClose 0.4s normal forwards ease-in-out;
    transform-origin: 100% 0%;
}

// Opening and closing motion for conditional fieldset
@keyframes conditionalOpen {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes conditionalClose {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
        display: none;
    }
}