.mat-header-cell:nth-child(2),
.mat-header-cell:last-child {
    max-width: 100px;
}

.border-right {
    border-right: 1px dashed #dedede;
}

.expense-con {
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px rgb(73 73 73 / 12%);
    border: 1px solid #aeadfc;
}