.logo-title{
    font-size: 25px;
    font-weight: 600;
    padding: 8px 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 20px;
}

.main{
    height: 92vh;
    overflow: auto;
    // background-color: red;
}