
<div class="main-common-container">
    <div class="header row justify-content-between align-items-center">
        <div class="col-md-2 p-0" >
          <span class="logo-title px-4" >
            <img type="button" routerLink="../" width="100" src="../../assets/denta.svg" alt="denta-icon">
          </span>
        </div>

        <div class="col-md-7 d-flex align-items-center justify-content-center menu-container">
            <span role="button" class="d-flex align-items-center menu-item me-2 ms-1" *ngFor="let item of menuList; let i=index" routerLink="{{item.url}}"
                routerLinkActive="active-menu-item">
                {{item.name}}
            </span>
        </div>

        <div class="col-md-3 text-end">
            <span class="me-3" style="font-size: 18px;">
                Gulchohra Umarli
            </span>
        </div>
    </div>

    <main class="main ">
        <router-outlet></router-outlet>
    </main>


</div>