<div class="row justify-content-center align-items-center" >
    <div class="col-sm-5 d-flex align-items-center justify-content-center" style="height: 92vh;">
        <p class="col-lg-11 mx-auto">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime aut debitis quia dolor eveniet repellendus
            fugiat sapiente repudiandae nobis adipisci iusto inventore alias laudantium, nam soluta. Assumenda ipsum
            sint fuga?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime aut debitis quia dolor eveniet repellendus
            fugiat sapiente repudiandae nobis adipisci iusto inventore alias laudantium, nam soluta. Assumenda ipsum
            sint fuga?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime aut debitis quia dolor eveniet repellendus
            fugiat sapiente repudiandae nobis adipisci iusto inventore alias laudantium, nam soluta. Assumenda ipsum
            sint fuga?
        </p>
    </div>
    <div class="col-sm-7 p-0" style="height: 92vh;">
        <img src="../../../assets//dashboard/dentist.gif" style="height: 100%; width: 100%;" alt="">
    </div>
</div>