@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::ng-deep .mat-menu-item.mat-list-item {
  padding-left: 12px !important;
}

::ng-deep .mat-tooltip__surface {
  font-size: 12px;
  background-color: #1A9CC9 !important;
}

p,
span,
h1,
h2,
h3,
h4,
div {
  font-family: 'Poppins', sans-serif;
  color: #787780;
  font-size: 16px;
}

*::selection {
  background: cornflowerblue;
  color: #fff;
}


*::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 3px;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: cornflowerblue !important;
  border-radius: 2px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

a{
  color: cornflowerblue !important;
  text-decoration: none !important;
}

.field label::before {
  content: attr(title);
  position: absolute;
  top: -8px;
  left: 8px;
  line-height: 10px;
  padding: 0px 5px;
  transition: 300ms all;
  color: #85848E;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
}

.field {
  position: relative;
  margin: 5px 0;

  // padding: 0 10px;
  input,
  select,
  .mat-form-field-type-mat-select,
  .mat-form-field:not(.mat-form-field-no-animations) .mat-text-field__input,
  .mat-datepicker {
    width: 100%;
    line-height: 40px;
    height: 40px;
    padding: 0 5px;
    box-sizing: border-box;
    font-size: 15px;
    color: #222;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    background: #FFF;

    &:focus {
      outline: 0;
      border-color: cornflowerblue;
    }

    &:focus+label::before {
      color: #136481;
      border-color: #136481;
    }
  }

  ::ng-deep .mat-input-element::placeholder,
  input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }

  textarea {
    width: 100%;
    height: 80px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    color: #222;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    resize: none;

    &:focus {
      outline: 0;
      border-color: cornflowerblue;
    }

    &:focus+label::before {
      color: #136481;
      border-color: cornflowerblue;
    }
  }
}

.field-btns {
  width: 100%;
  border: 1px solid #dedede;
  background: #DADAF6;
  color: #5252a6;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px 0 10px 0;
  text-align: start;
  font-size: 15px;
  transition: 0.4s;
}

.field-btns:hover {
  background-color: #cecece;
}

.field-btns i {
  margin-right: 10px;
}

.save-btn {
  border: none;
  padding: 8px 5px;
  background: cornflowerblue;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.field-headers {
  border-bottom: 1px dashed #dedede;
  color: #000;
  padding: 0 5px;
}

.labels {
  width: fit-content; 
  padding: 3px 5px;
  font-size: 14px;
  background-color: #FF0000;
  color: #fff;
  margin-right: 5px;
}

.file-labels {
  width: fit-content;
  padding: 3px 5px;
  font-size: 14px;
  /* background-color: #FF0000; */
  color: #666666;
  border: 1px dashed #dedede;
  margin-right: 5px;
  border-radius: 5px;
}

.labels span{
  color: #fff;
  cursor: pointer;
}

.file-labels a{
  font-size: 13px;
}

ul{
  list-style: none;
  display: flex;
  margin: 0  !important;
  padding: 0 !important;
  min-width: 800px;
  font-family: 'Poppins', sans-serif;
}

// li{
//   min-width: 200px;
// }

.common-list{
  display: block;
}